.citynav {
    position: relative;
}
.citynav__gotomycity {
    background: none repeat scroll 0 0 #224D60;
    border-color: #163B4A #133442 #102D39;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -2px 2px #143542 inset, 0 1px 1px #38697F inset, 0 1px 1px #1A4254;
    display: inline-block;
    height: 34px;
    width: 36px;
		margin:0 6px 0 0;
}
.citynav__gotomycity:hover {
    background: none repeat scroll 0 0 #245266;
    border-color: #153745 #12303D #0E2833;
    box-shadow: 0 -2px 2px #12313D inset, 0 1px 1px #3A6D85 inset, 0 1px 3px #193E4F;
}
.citynav__gotomycity:active {
    background: none repeat scroll 0 0 #1D4454;
    border-color: #133340 #112C38 #0C242E;
    box-shadow: 0 1px 2px #0F2730 inset;
}
.citynav__cityname {
    background: none repeat scroll 0 0 #BDCAD0;
    border-color: #12323F #163B4A #163B4A;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 4px #66828E inset, 0 1px 2px #3A6679;
    color: #0B242E;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 2px 31px 0 8px;
    width: 371px;
}
.citynav__cityname:hover {
    background: none repeat scroll 0 0 #C5D3D9;
    border-color: #0F2933 #12313D #12313D;
    box-shadow: 0 3px 6px #617C87 inset, 0 1px 2px #3D6C80;
}
.citynav__cityname:focus {
    background: none repeat scroll 0 0 #D1DFE5;
    border-color: #000000;
    color: #000000;
}
.citynav__setmycity {
    position: absolute;
    right: 0;
    top: 0;
		display:block;
		width:34px;
		height:34px;
}
.citynav__setmycity.is-normal {
		background:url('../images/icon-setmycity.png') no-repeat;
}
.citynav__setmycity.is-normal:hover {
		background:url('../images/icon-setmycity-hover.png') no-repeat;	
}
.citynav__setmycity.is-active {
		background:url('../images/icon-setmycity-hover.png') no-repeat;	
}
.citynav__setmycity.is-active:hover {
		background:url('../images/icon-setmycity.png') no-repeat;	
}
.citynav__setmycity.is-loading {
		background:url("http://local.agora.vc/stylesheets/../images/loader-city.gif") no-repeat 0px 1px;
}
.fbconnect {
    background: none repeat scroll 0 0 #3B5998;
    border: 1px solid #213A6E;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #5F7AB3 inset, 0 -1px 1px #1B315D inset, 0 1px 2px #153949;
    height: 36px;
    line-height: 36px;
	display:inline-block;
    position: relative;
    text-align: center;
}
.fbconnect:hover {
    background: none repeat scroll 0 0 #3E5C9E;
    border: 1px solid #1E3463;
    box-shadow: 0 1px 2px #617DB8 inset, 0 -1px 1px #192E57 inset, 0 1px 3px #143645;
}
.fbconnect:active {
    background: none repeat scroll 0 0 #37528C;
    border: 1px solid #1C305C;
    box-shadow: 0 1px 3px #192E57 inset;
}
.fbconnect:active .fbconnect__icon {
    border-right: 1px solid #2E477D;
}
.fbconnect:active .fbconnect__text {
    border-left: 1px solid #395591;
}
.fbconnect__icon {
    border-right: 1px solid #334F8A;
    display: inline-block;
    height: inherit;
    vertical-align: top;
}
.fbconnect__text {
    border-left: 1px solid #405E9D;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    height: inherit;
    padding: 0 13px;
    text-shadow: 0 0 3px #1E325E;
    vertical-align: top;
}
.userinfo {
    position: relative;
}
.userinfo__text {
		width:100px;
		float:left;
		margin:0 10px 0 0;
		text-align:right;
}
.userinfo__photo {
    border:1px solid;
		border-color:#173c4c #143543 #112e3b;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #1a4254;
    float: left;
		display: block;
    width: 32px;
}
.userinfo__name {
    color: #c9dbe2;
		display: block;
    font-size: 14px;
    margin: 3px 0 0 0;
		text-shadow:0 1px 1px #14313e;
}
.userinfo__logout {
    color: #9fb8c2;
		display: block;
    font-size: 12px;
    margin: 2px 0 0;
		text-shadow:0 1px 1px #14313e;
}
.userinfo__logout:hover {
    text-decoration: underline;
}
.contexttabs {
    border-radius: 5px 0 0 5px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 68px;
}
.contexttabs__item {
    position: relative;
}
.contexttabs__item:first-child .contexttabs__link {
	border-radius:5px 0 0 0;
}
.contexttabs__item:last-child .contexttabs__link {
	border-radius:0 0 0 5px;
}
.contexttabs__link {
    background: none repeat scroll 0 0 #F7F9FA;
    box-shadow: -15px 3px 4px #DADDE0 inset;
    display: block;
    height: 55px;
    padding: 0 0 0 7px;
    position: relative;
    width: 74px;
}
.contexttabs__link:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -15px 3px 6px #CDD0D4 inset;
}
.contexttabs__link:active {
    background: none repeat scroll 0 0 #F7F9FA;
    box-shadow: -13px 1px 6px #8F9194 inset;
}
.contexttabs__link.is-active {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none;
}
.contexttabs__link__news {
		background:#CC000C;
    background-image: linear-gradient(bottom, #AD0002 0%, #D8001F 100%);
    border-color: #970006 #890005 #770004;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 0 #F16666 inset, -1px 1px 2px #333333;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px;
    position: absolute;
    right: 27px;
    text-align: center;
    text-shadow: 0 1px 0 #551717;
    top: 11px;
}
.contexttabs__link:hover .contexttabs__link__news {
    box-shadow: 0 2px 0 #F16666 inset, -1px 1px 2px #222222;
}
.candidateslist {
    background: #FFFFFF;
    margin: 0;
    position: relative;
	padding-bottom:20px;
	border-radius:0 5px 5px 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.candidateslist > .candidateslist__item {
    padding: 30px 14px 20px;
}
.candidateslist__header {
    border-radius: 0 5px 0 0;
    height: 110px;
    margin: 0 9px 15px;
    position: relative;
    width: 100%;
}
.candidateslist__header:first-child .candidateslist__header__wrapper {
	border-radius:0 5px 0 0;
}
.candidateslist__header__wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.97);
    height: 110px;
    margin: 0;
    padding: 0 5px;
    position: relative;
    width: 728px;
    z-index: 200;
}
.candidateslist__header__wrapper.is-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}
.candidateslist__header__content {
    border-bottom: 1px solid #DADFE3;
    height: 69px;
    padding: 40px 0 0;
}
.candidateslist__header__content > .currentsupport {
    margin: 0 0 0 30px;
}
.candidateslist__header__content > .listfilter {
    position: absolute;
    right: 0px;
}
.candidateslist__header__content + .row-division {
    padding-bottom: 35px;
}
.candidateslist__item {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 161px;
}
.candidateslist__item.is-first-of-row {
    padding-left: 39px;
}
.candidateslist__item.is-last-of-list {
    margin-bottom: 15px;
}
.candidateslist__item > .support {
    margin: 13px 0 0;
}
.candidateslist__loader {
	width:742px;
	height:275px;
    margin: 0 auto;
	background:url('../images/loader-candidates.gif') center center no-repeat;
}
.candidateslist__message {
    width:742px;
    height:275px;
}
.breadcrumb {
    display: inline-block;
    position: relative;
}
.breadcrumb h2 {
    color: #A0A6AC;
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 30px;
}
.currentsupport {
    color: #A0A6AC;
    display: inline-block;
    font-size: 14px;
    letter-spacing: -1px;
    position: relative;
}
.currentsupport__candidatephoto {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 2px #A0A6AC;
    display: inline-block;
    height: 19px;
    margin: 2px 0px 0 0;
    width: 19px;
}
.currentsupport__label {
    display: inline-block;
    margin: 0px 10px
}
.currentsupport__candidatename {
    color: #A0A6AC;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.currentsupport__candidatename:hover {
    text-decoration: underline;
}
.currentsupport__candidatename:visited {
    color: #A0A6AC;
}
.listfilter {
    display: inline-block;
    position: relative;
}
.listfilter__filterfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CED3D7 #DADFE3 #DADFE3;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px #E1E5E7 inset;
    color: #A0A6AC;
    font-size: 14px;
    height: 30px;
    padding: 2px 8px 0 32px;
    width: 40px;
    outline: none;
    word-spacing: 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .25s ease;
}
.listfilter__filterfield:hover {
    border-color: #C1C5C9 #CED2D6 #CED2D6;
    box-shadow: 0 2px 4px #D5D9DB inset;
}
.listfilter__filterfield:focus {
  width: 220px;
  outline: none;
  word-spacing: 1px;
  color: #555;
  border-color: #C1C5C9 #CED2D6 #CED2D6;
  box-shadow: 0 2px 4px #D5D9DB inset;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.listfilter__icon {
    left: 0;
    position: absolute;
    top: 0;
}
.candidatecard {
    border: 4px solid #224D60;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #B8C5CB, 0 1px 2px #A4A4A4;
    display: block;
    position: relative;
}
.candidatecard__photo {
    display: block;
    height: 184px;
    width: 153px;
}
.candidatecard__name {
    background: none repeat scroll 0 0 rgba(37, 77, 96, 0.95);
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 12px 0 6px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 153px;
}
.support {
    position: relative;
}
.support a {
    -o-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; 
}
.support__counter {
    display: inline-block;
    height: 37px;
    position: relative;
    width: 62px;
}
.support__counter__number {
    background: none repeat scroll 0 0 #E6EAEC;
    border-radius: 3px 3px 3px 3px;
    color: #5D645E;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
}
.support__counter:after {
    border-color: transparent transparent transparent #E6EAEC;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    left: 100%;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
.support__button {
	background:#14AD1B;
    background-image:linear-gradient(bottom, #0C9E13 0%, #1BBB23 100%);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #D4D4D4, 0 1px 2px #7FC883;
    display: inline-block;
    height: 37px;
    line-height: 36px;
    position: absolute;
    right: 0;
    width: 82px;
    -moz-opacity: 1.0; 
    -webkit-opacity: 1.0; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100); 
    opacity: 1.0;
}
.support__button:hover {
	background:#15B61D;
    background-image: linear-gradient(bottom, #0DA114 0%, #1BC223 100%);
    box-shadow: 0 0 5px #75BA79, 0 1px 2px #75BA79;
}
.support__button:active {
	background:#119918;
    background-image: linear-gradient(bottom, #0B9612 0%, #18AD20 100%);
    box-shadow: 0 2px 4px #06730B inset;
}
.support__button__icon {
    display: inline-block;
}
.support__button__text {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 0 1px #045608;
}
.support__button.is-loading {
    -moz-opacity: 0.50; 
    -webkit-opacity: 0.50; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter: alpha(opacity=50); 
    opacity: 0.50;
    background:#15B61D;
    background-image: linear-gradient(bottom, #0DA114 0%, #1BC223 100%);
    box-shadow: 0 0 5px #75BA79, 0 1px 2px #75BA79;
}
.unsupport__button {
    display: inline;
	background-color:#353A3C;
    background-image: linear-gradient(bottom , #2E3234 0%, #3C4144 100%);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #B5BCC0;
    display: inline-block;
    height: 37px;
    line-height: 36px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 82px;
}
.unsupport__button img {
    display: none;
}
.unsupport__button:hover {
	background:#414648;
    background-image: linear-gradient(bottom , #313638 0%, #464C4F 100%);
    box-shadow: 0 1px 3px #787C80;
}
.unsupport__button:active {
		background:#2B2F31;
    background-image: linear-gradient(bottom , #222222 0%, #333333 100%);
    box-shadow: 0 2px 4px #000000 inset;
}
.unsupport__button .unsupport__button__text {
    color: #E6EAEC;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
.introduction {
    position: relative;
}
.introduction__tip {
    display: inline-block;
    position: relative;
    width: 300px;
}
.introduction__tip__image {
    margin: 0 0 -30px;
}
.introduction__tip__number {
    color: #F7F8FB;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    margin: 0 20px;
    position: relative;
    text-shadow: 0 1px 5px #a9b5c3;
}
.introduction__tip__title {
    color: #224d60;
    float: left;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 4px;
    position: relative;
}
.introduction__tip__description {
    color: #224d60;
    float: left;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -1px;
    position: relative;
    width: 200px;
}
.row-division {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0 40px;
    position: relative;
}
.row-division + .discussion__header {
    padding-top: 10px;
}
.row-division hr {
    background: none repeat scroll 0 0 #DADFE3;
    border: 0 none;
    color: #DADFE3;
    height: 1px;
}
.discussion {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    position: relative;
}
.discussion__header {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 40px 40px 30px;
    position: relative;
}
.discussion__header > .currentsupport {
    margin: 0 0 0 30px;
}
.discussion__header + .row-division {
    padding-bottom: 35px;
}
.fbcomments {
    padding: 0 40px 20px;
}

.candidateinfo {
	position:relative;
	background:#fff;
}
.candidateinfo__header {
    background: #FFFFFF;
    height: 110px;
    margin: 0;
    position: relative;
    width: 822px;
}
.candidateinfo__header__wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.97);
    height: 110px;
    margin: 0;
    position: relative;
    width: 822px;
    z-index: 200;
}
.candidateinfo__header__content {
    border-bottom: 1px solid #DADFE3;
    height: 69px;
    margin: 0 40px;
    padding: 40px 0 0;
}
.candidateinfo__header__content + .row-division {
    padding-bottom: 35px;
}
.candidateinfo__main {
	padding:45px 40px 40px;
	overflow:auto;
}
.candidateinfo__main > .candidateslist__item {
	float:left;
}
.candidateinfo__main__content {
	margin:0 0 0 25px;
	float:left;
}
.candidateinfo__candidatename {
	color:#224d60;
	font-size:34px;
	letter-spacing:-1px;
    text-transform:capitalize;
}
.candidateinfo__details {
	font-size:14px;
	color:#69747e;
	line-height:18px;
	margin:25px 0 0;
}
.candidateinfo__details__title {
	font-weight:bold;
	padding-right:25px;
}
.candidateinfo__externallink {
	font-size:14px;
	color:#69747e;
	font-weight:bold;
	margin:37px 0 0;
	text-align:center;
	height:37px;
	line-height:36px;
	width:200px;
	float:left;
	display:block;
	background:#fff;
	box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #e6ebef;
	border:1px solid;
	border-color:#dadfe3 #dadfe3 #c1c9d1;
	border-radius:3px;
}
.candidateinfo__externallink:hover {
	border-color:#c1c9d1 #c1c9d1 #b8c0c9;
	box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #ccd5dc;
}
.candidateinfo__externallink:active {
	border-color:#c1c9d1 #dadfe3 #dadfe3;
	box-shadow:0 1px 8px #ccd5dc inset;
}
.candidateinfo__backbutton {
	margin:-6px 20px 0 88px;
	height:37px;
	line-height:36px;
	background:#fff;
	box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #e6ebef;
	border:1px solid;
	border-color:#dadfe3 #dadfe3 #c1c9d1;
	border-radius:3px;
	text-align:center;
	display:inline-block;
	width:70px;
	font-size:14px;
	color:#69747e;
	font-weight:bold;
}
.candidateinfo__backbutton:hover {
	border-color:#c1c9d1 #c1c9d1 #b8c0c9;
	box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #ccd5dc;
}
.candidateinfo__backbutton:active {
	border-color:#c1c9d1 #dadfe3 #dadfe3;
	box-shadow:0 1px 8px #ccd5dc inset;
}

.footer {
	position:relative;
}
.footer__logo {
	display:inline-block;
}

.footer__column {
	display:inline-block;
	margin:0 0 0 5px;
}
.footer__links {
	margin:11px 0 0 0;
	color:#fff;
	font-size:12px;
	text-shadow:0 1px 1px #173a49;
	padding:0;
	list-style:none;
}
.footer__links__item {
	display:inline-block;
	margin:0 5px;
}
.footer__links__item__link {
	color:#fff;
}
.footer__links__item__link:hover {
	text-decoration:underline;
}

.footer__copyright {
	color:#d8dada;
	font-size:10px;
	text-shadow:0 1px 1px #173a49;
	margin:3px 0 0 5px;
}

.footer__flag {
	float:right;
	margin:10px 0 0;
}

.imprensalogos {
    position: relative;
    width: 324px;
    margin-left: 15px;
    display: block;
    list-style: none;
    overflow: auto;
    padding:0;
}
    .imprensalogos__item {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        display: block;
    }
        .imprensalogos__item__image {
            border: 1px solid #dadfe3;
            width: 150px;
            display: block;
            height: 50px;
        }

.imprensatelas {
    position: relative;
    width: 404px;
    margin-left: 15px;
    display: block;
    list-style: none;
    overflow: auto;
    padding: 0;
}
    .imprensatelas__item {
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        display: block;
    }
        .imprensatelas__item__image {
            border: 1px solid #dadfe3;
            width: 126px;
            display: block;
            height: 83px;
        }

.more__candidates__list__item {
    clear: both;
    display: block;
    margin: 0;
    padding: 0 40px;
    position: relative;
}

.citynav__searchdropdown {
    position: absolute;
    top: 45px;
    left: 44px;
    background: #FFFFFF;
    border-color: #163B4A #133442 #102D39;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 4px #66828E inset, 0 1px 2px #3A6679;
    width: 410px;
    z-index: 987654321;
    padding:0;
    margin:0;
    list-style:none;
}
    .citynav__searchdropdown__item {
        cursor: pointer;
        padding: 8px;
    }
    .citynav__searchdropdown__item__highlighted {
        background: 0 0 #345F72;
        color: #FFFFFF;
        margin: 4px;
        padding: 4px;
    }

.more__candidateslist__item {
    margin:0 auto;
    height:37px;
    line-height:36px;
    background:#fff;
    box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #e6ebef;
    border:1px solid;
    border-color:#dadfe3 #dadfe3 #c1c9d1;
    border-radius:3px;
    text-align:center;
    display:none;
    width:742px;
    font-size:14px;
    color:#69747e;
    font-weight:bold;
}
.more__candidateslist__item:hover {
    border-color:#c1c9d1 #c1c9d1 #b8c0c9;
    box-shadow:0 -4px 8px #e1e5e7 inset, 0 1px 3px #ccd5dc;
}
.more__candidateslist__item:active {
    border-color:#c1c9d1 #dadfe3 #dadfe3;
    box-shadow:0 1px 8px #ccd5dc inset;
}
.more__candidateslist__item.is-loading {
    
}